body{
    width: 300px;
    height: 500px;
    position: absolute;
    top: 50%;
    left : 50%;
    margin-top: -250px;
    margin-left: -150px;
}
#inputQ{
    width: 300px;
    height: 150px;
    background-color: rgb(224, 224, 224);
    border: 0px;
    border-radius: 20px;
    display: block;
    font-size: 30px;
    margin: 0 auto;
    margin-bottom: 180px;
    
}
#solveQ{
    width: 300px;
    height: 150px;
    background-color: rgb(235, 235, 235);
    border: 0px;
    border-radius: 20px;
    display: block;
    font-size: 30px;
    margin: 0 auto;
}
.popup_box{
    width: 400px;
    height: 300px;
    background-color: rgb(231, 231, 231);
}
.popup_layer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    
}
