body{
    width: 300px;
    height: 500px;
    position: absolute;
    top: 50%;
    left : 50%;
    margin-top: -250px;
    margin-left: -150px;
}
#inputQ{
    width: 300px;
    height: 150px;
    border: 0px;
    border-radius: 40px;
    display: block;
    font-size: 30px;
    font-weight: 500;
    color: white;
    margin: 0 auto;
    margin-bottom: 180px;
    background-color: rgb(64, 116, 175);
}
#solveQ{
    width: 300px;
    height: 150px;
    border: 0px;
    background-color: rgb(64, 116, 175);
    border-radius: 40px;
    display: block;
    font-size: 30px;
    font-weight: 500;
    color: white;
    margin: 0 auto;
}
.popup_box{
    width: 320px;
    height: 350px;
    background-color: rgb(231, 231, 231);
    text-align: center;
}
.popup_layer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
}
#close_btn{
    width: 320px;
    height: 60px;
    background-color: #ff4f42;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 25px;
    line-height: 60px;
}
#select{
    font-size: 25px;
    padding: 15px;
}
.sel_btn{
    margin: 0 auto;
    width: 240px;
    height: 70px;
    line-height: 70px;
    margin-top: 20px;
    background-color: rgb(197, 197, 197);
    border-radius: 20px;
    font-size: 20px;
}