
body{
    position: absolute;
    left: 50%;
    margin-left: -170px;
    width: 340px;
    margin-top: 10px;
}
#gohome{
    display: block;
    width: 50px;
    height: 50px;
    border: 0px;
    border-radius: 10px;
    background-color: rgb(64, 116, 175);
    color: white;
    
}

#input_QA>input{
    width: 143px;
    height: 10px;
    padding: 10px;
    font-size: 15px;
    margin-top: 10px;
}
#input_adddel{
    display: inline-block;
    width: 340px;
    height: 10px;
    padding-top: 10px;
    font-size: 15px;
    text-align: center;
    margin-top: 0px;
}
#input_adddel>input{
    width: 167px;
    height: 34px;
    font-size: 12px;
    border: 0;
    border-radius: 10px;
    background-color: rgb(219, 219, 219);
}
#contents{
    margin-top: 15px;
    width: 340px;
    table-layout: fixed;
    word-break: break-all;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid rgb(64, 116, 175);
}
#contents th{
    height: 30px;
    background-color: rgb(64, 116, 175);
    color: white;
}
